*
 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(243, 250, 215);
    text-align: justify;
}

.title {
    text-align: center;
    font-weight: bolder;
}

img {
    display: block;
    margin: auto;
    max-width: 100%;
}

.button {
    display: inline-block;
    margin: 15px;
    border-radius: 7px;
}

.right {
    position: absolute;
    right: 10px;
}